.slds-card_boundary {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
}
.margin-left-space {
    padding-left: 0.25rem;
}
.margin-right-space {
    padding-right: 0.25rem;
}
.margin-space {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.margin-spacePanel {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
}
.spinner-cls {
    position: fixed;
    z-index: 100000!Important;
}